.cardContainer {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: inherit;
	max-width: 18rem;
	margin: 2rem;
	border-radius: 8px;
}

.cardTitle {
	text-decoration: none;
	color: #000;
	margin: 5px;
	cursor: pointer;
}

.cardTitle:hover,
.cardText:hover {
	color: rgb(136, 136, 136);
}

img {
	width: 300px;
}

button {
	width: 75%;
	align-self: center;
}

.link {
	text-decoration: none;
}

.link:hover {
	border: 1px solid rgb(136, 136, 136);
	border-radius: 8px;
}

.cardText {
	text-decoration: none;
	color: #000;
}

.cardTextId {
	font-weight: bold;
}