footer {
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: auto;
}

footer p {
	padding-top: 1rem;
	text-align: center;
}

@media only screen and (max-width: 600px) {
	footer {
		flex-direction: column;
	}
	footer p {
		margin: 0;
	}
}